{% load static %}
<!Doctype HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title> Login </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_turma.css' %}">
</head>
<body>

	<div class="form-container">
		<div class="form">
			<h1> Cadastro Atividade </h1>
			<form method="POST" class="login-form" action="{% url 'cadastro_atividade' id_turma=turma_id %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="labels">
					<div class="label-login">
						<label> Descrição: </label>
						<input type="text" name="desc_atividade">
						<label> Arquivo: </label>
						<input type="file" name="arquivo" id="arquivo">
					</div>
				</div>
                <div class="btn-container"> <button type="submit"> Enviar </button> </div>

			</form>
		</div>
	</div>

</body>


</html>