{% load static %}
<!Doctype HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title> Login </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/tela_atividades.css' %}">
    	<script src="https://kit.fontawesome.com/be07557a2e.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<nav class="navbar">
			<h3> Olá, professor </h3>
			<div class="logout-container">
				<h3> Sair </h3>
			 	<form action="logout" method="POST">
                    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
                </form>
			</div>
		</nav>
	</header>

	<div class="general-container">
		<div class="table-container">
			<div class="container-cadastro">
                <p> Turma: {{nome_turma}} </p>
				<a href="{% url 'cadastro_atividade' id_turma=turma_id %}"><button type="submit" class="btn-cadastro"> Cadastrar Atividade </button></a>
			</div>
			{% if atividades_turma %}
				<div class="tabela-turmas">
					<table>
						<thead>
							<th> ID </th>
							<th> Nome </th>
						</thead>
						<tbody>
							{% for atividade in atividades_turma %}
								<tr>
									<td> {{ atividade.id }} </td>
									<td> {{ atividade.nome_atividade }} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<div style="display: flex; justify-content: center; margin-top: 30px;">
					<p style="font-size: 20px; font-weight: bold; text-decoration: underline;"> Não há atividades cadastradas para essa turma!</p>
				</div>
			{% endif %}
            </div>
		</div>
	</div>

</body>


</html>