@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

body {
	background-color: #bfbfbf;
}

nav {
	width: 100vw;
	background-color: white;
	display: flex;
    	justify-content: space-between;
	height: 60px;
	align-items: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

nav h3 {
	margin-left: 50px;
}

.logout-container {
	display: flex;
	margin-right: 50px;
	align-items: center;
	gap: 10px;
}

.logout-container button{
	background: none;
	cursor: pointer;
	border: none;
}

.logout-container button i {
	font-size: 18px;
}

.general-container {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.table-container {
	background-color: white;
    padding: 5rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
	width: 30%;
}

.container-cadastro {
	display: flex;
	justify-content: space-between;
	padding-bottom: 2rem;
    align-items: center;
}
.container-cadastro p{
	font-weight: bold;
    font-size: 20px;
    word-wrap: break-word;
    max-width: 200px;
}


table {
	border-collapse: collapse;
}

thead th, tbody td {
	border: 1px solid black;
}

th {
	color: #004A8F;
}

td {
	padding: 15px;
	word-wrap: break-word;
	max-width: 200px;
	
}

.btn-cadastro, .btn-excluir, .btn-visualizar {
	padding: 8px;
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
}

.btn-cadastro {
	width: 180px;
	background-color: #0066ff;
}

.btn-excluir {
	background-color: #d10404;
}

.btn-visualizar {
	background-color: #0066ff;
}

.btn-cadastro:hover {
	background-color: #0250c4;
	transform: scale(1.05);
	background-position: -60px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-excluir:hover {
	background-color: #9c0505;
}

.btn-visualizar:hover {
	background-color: #0250c4;
}

#icone_arquivo {
	font-size: 20px;
}

.btn-excel {
	padding: 8px;
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	width: 180px;
	background-color: #009e03;
}

.btn-excel:hover {
	background-color: #008a02;
	transform: scale(1.05);
	background-position: -60px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-btns {
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}